<div class="container">
    <div class="row">

        <div class="post col-xs-offset-1 col-xs-10 col-xs-offset-1">

            <h1>
                <%= link_to @lecture.try(:course).try(:title), course_path(@lecture.course_id), style: 'text-decoration: none;' %>
            </h1>

            <div id="post_title">
                <h2>
                    <%= @lecture.try(:title)%>
                </h2>
            </div>


            <p class="lead">
                by
                <a>
                    <%= @lecture.user.name %>
                </a>
            </p>

            <% if @lecture.user.id === current_user.id %>
                <p>
                    <%= link_to '<span class="glyphicon glyphicon-remove"></span> Delete'.html_safe, @lecture, class: 'btn btn-danger',method: :delete, data: { confirm: 'Are you sure?' } %>
                        <span>  </span>
                        <%= link_to '<span class="glyphicon glyphicon-edit"></span> Edit'.html_safe, edit_lecture_url(@lecture), class: 'btn btn-success', data: { no_turbolink: true }  %>
                </p>
                <% end %>

                    <hr>

                    <div id="post_desc" class="container-fluid">
                        <p class="lead">
                            <%= @lecture.content.html_safe %>
                        </p>
                    </div>

                    <hr>

                    <div>
                        <h4>Was this helpful?</h4>
                        <%= link_to like_lecture_path(@lecture), class: 'like', method: :put do %>
                            <span class="glyphicon glyphicon-thumbs-up glyphicon-align-center"></span>
                            <span class="badge"><%= @lecture.get_upvotes.size %></span>
                            <% end %>

                                <%= link_to dislike_lecture_path(@lecture), class: 'dislike', method: :put do %>
                                    <span class="glyphicon glyphicon-thumbs-down glyphicon-align-center"></span>
                                    <span class="badge"><%= @lecture.get_downvotes.size %></span>
                                    <% end %>

                                        <h4>Report as a spam?</h4>

                                        <% if current_user.voted_on?(@lecture,:vote_scope => 'spam') %>
                                            <%= link_to unspam_lecture_path(@lecture), class: 'dislike', method: :put do %>
                                                <span class="glyphicon glyphicon-ban-circle glyphicon-align-center"></span>
                                                <span class="badge">Reported as a spam</span>
                                                <% end %>
                                                    <% else %>
                                                        <%= link_to spam_lecture_path(@lecture), class: 'like', method: :put do %>
                                                            <span class="glyphicon glyphicon-ban-circle glyphicon-align-center"></span>
                                                            <% end %>
                                                                <% end %>
                    </div>

                    <% if @lecture.attachment.file != nil %>
                        <hr>
                        <br>
                        <p class="lead">preview attachment:</p>
                        <% file = '<i class="glyphicon glyphicon-paperclip"></i> '+@lecture.attachment.file.basename %>
                            <%= link_to file.html_safe, @lecture.attachment.url, id: 'attach' %>
                                <% end %>

                                    <hr>


                                    <h3>Comments: </h3>
                                    <div id="comments_section" class="container-fluid">
                                        <% @lecture.comments.each do |comment| %>
                                            <div class="comment media">
                                                <div class="media-body">
                                                    <h4 class="media-heading">
                                                        <%= comment.user.name %>
                                                            <small><%= time_ago_in_words(comment.created_at) %></small>
                                                    </h4>
                                                    <blockquote class="comment_value">
                                                        <%= comment.comment %>
                                                    </blockquote>
                                                </div>
                                            </div>
                                            <% end %>
                                    </div>

                                    <br>
                                    <hr>

                                    <%=render 'comment' %>

        </div>
    </div>
</div>